#modalOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  opacity: 0.8;
  z-index: 3;
}
body {
    background-image: url("../images/fondo_azul.jpg");
}

.fixed {
  position: fixed;
  left: 0px;
  height: 100%;
  background-image: url("../images/fondo_oscuro.jpg");
}

.fixed img {
  margin-top: 50%;
}

#modalResult {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -200px;
  width: 400px;
  height: 100px;
  padding: 10px;
  color: white;
  overflow: auto;
  z-index: 3;
  background-color: black;
  border-radius: 5%;
  border: 1px solid white;
}

#modalResultButton {
  color: white;
  background-color: black;
}

.no-visible {
  display: none;
}

legend {
  margin-top: 20px;
}

#indicaciones {
  border: 1px dashed cornflowerblue;
  background-color: beige;
}

.aviso {
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  border: 1px dashed darkblue;
  background-color: beige;
  border-radius: 2%;
  overflow: hidden;
}


